name: Snyk Security Scan

on:
  workflow_call:
    secrets:
      SNYK_TOKEN:
        required: true

jobs:
  snyk:
    name: Snyk Security Scan
    runs-on: self-hosted
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      
      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      
      - name: Install Snyk CLI
        run: |
          curl -Lo ./snyk-cli https://static.snyk.io/cli/latest/snyk-linux
          chmod +x ./snyk-cli
          sudo mv ./snyk-cli /usr/local/bin/snyk
      
      - name: Authenticate Snyk
        run: snyk auth ${{ secrets.SNYK_TOKEN }}
      
      - name: Run Snyk Test
        run: snyk test --all-projects
        continue-on-error: true
      
      - name: Run Snyk Monitor
        run: snyk monitor --all-projects
